<div class="text-center text-white max-w-[700px] h-full m-auto flex flex-col justify-center items-center">
  <h2 class="!font-bold">Bem vindo ao CineMovie</h2>
  <div class="pt-4">
    <p class="text-sm font-sans">
      O nosso catalogo de filmes tem diversas opções, tanto para o público adulto, como para infantis, venha conhecer mais
    </p>
    <p class="text-sm font-sans">
      Com filmes atuais e antigo, garantimos diversão e entretenimento sempre que quiser, para toda a sua familia
    </p>
  </div>
  <div class="flex justify-evenly items-center w-full p-3">
    <button
      mat-raised-button
      type="submit"
      class="!bg-yellow-600 !text-white w-[104px]"
      (click)="openModalLogin()"
    >
      Entrar
    </button>
  </div>
</div>
