.carrossel-container {
  overflow: hidden;
  width: 100%; /* Garante que o container ocupe toda a largura disponível */
}

.carrossel {
  display: flex;
}

.item {
  flex: 0 0 20%;
  max-width: 300px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.icon-button:focus {
  outline: none;
}

